body {
    font-family: Arial, sans-serif;
    background-color: #dadada;
    color: #FFFFFF; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #747474;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

article {
    display: flex;
    flex-direction: column;
    background-color: #414141;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    color: #fff;
}

article h1 {
    font-size: 36px;
    font-weight: bold;
    color: #FCFCFC;
    text-align: center;
    margin-bottom: 15px;
}

article img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    border: 4px solid #FFD700;
}

article p1, article p2, article p3, article p4, article p5, article p6, article p7, article p8 {
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.6;
    text-align: left;
}

article p1::before {
    content: "Elenco: ";
    font-weight: bold;
    color: #FFD700;
}

article p2::before {
    content: "Jogos: ";
    font-weight: bold;
    color: #FFD700;
}

article p3::before {
    content: "Posição: ";
    font-weight: bold;
    color: #FFD700;
}

article p4::before {
    content: "Naturalidade: ";
    font-weight: bold;
    color: #FFD700;
}

article p5::before {
    content: "Nascimento: ";
    font-weight: bold;
    color: #FFD700;
}

article p6::before {
    content: "Altura: ";
    font-weight: bold;
    color: #FFD700;
}

article p7::before {
    content: "No Botafogo desde: ";
    font-weight: bold;
    color: #FFD700;
}

article p8::before {
    content: "Detalhes: ";
    font-weight: bold;
    color: #FFD700;
}

h1 {
    color: #FFD700;
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
}

@media (max-width: 768px) {
    body {
        font-family: Arial, sans-serif;
        background-color: #101010;
        color: #FFFFFF;
        margin: 10px;
        padding: 10px;
        box-sizing: border-box;
    }
    #container {
        padding: 10px;
        background-color: #1D1D1D;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin: 35% 5%;
    }
    article {
        padding: 10px;
        background-color: #141414;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
        color: #fff;
    }
    article h1 {
        font-size: 24px;
    }
    article img {
        max-width: 120px;
        max-height: 120px;
    }
    article p1, article p2, article p3, article p4, article p5, article p6, article p7, article p8 {
        font-size: 14px;
    }
    h1 {
        font-size: 22px; 
    }
}


@media (min-width: 769px) {
    #container {
        max-width: 1200px;
        margin: 50px auto;
        padding: 20px;
        background-color: #747474;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    article {
        display: flex;
        flex-direction: column;
        background-color: #414141;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
        color: #fff;
    }
    
    article h1 {
        font-size: 36px;
        font-weight: bold;
        color: #FCFCFC;
        text-align: center;
        margin-bottom: 15px;
    }
    
    article img {
        display: block;
        margin: 0 auto 20px;
        border-radius: 50%;
        max-width: 200px;
        max-height: 200px;
        border: 4px solid #FFD700;
    }
    
    article p1, article p2, article p3, article p4, article p5, article p6, article p7, article p8 {
        font-size: 18px;
        margin: 10px 0;
        line-height: 1.6;
        text-align: left;
    }
    
    article p1::before {
        content: "Elenco: ";
        font-weight: bold;
        color: #FFD700;
    }
    
    article p2::before {
        content: "Jogos: ";
        font-weight: bold;
        color: #FFD700;
    }
    
    article p3::before {
        content: "Posição: ";
        font-weight: bold;
        color: #FFD700;
    }
    
    article p4::before {
        content: "Naturalidade: ";
        font-weight: bold;
        color: #FFD700;
    }
    
    article p5::before {
        content: "Nascimento: ";
        font-weight: bold;
        color: #FFD700;
    }
    
    article p6::before {
        content: "Altura: ";
        font-weight: bold;
        color: #FFD700;
    }
    
    article p7::before {
        content: "No Botafogo desde: ";
        font-weight: bold;
        color: #FFD700;
    }
    
    article p8::before {
        content: "Detalhes: ";
        font-weight: bold;
        color: #FFD700;
    }
    
    h1 {
        color: #FFD700;
        text-align: center;
        font-size: 30px;
        margin-top: 100px;
    }
    
}